{% extends "base.html" %}

{% block content %}

{% for user in users %}
<!-- <h2>Endorse {{user.first_name}} {{user.last_name}}</h2> -->
{% endfor %}

<form action="/endorse/{{concealed_advocate_id}}" method="post">
  <p><label class="submitendorsement">Provide your endorsement here:</label></p>
  <input type="text" class ="submitendorsement" name="endorsement_text"/>
  <p><label class="submitendorsement">Provide image url:</label></p>
  <p><a href="https://postimages.org/web">free image url hosting @ post images</a></p>
  <input type="text" class ="submitendorsement" name="picture_url">
  <p><input class="submitendorsementbutton" type="submit" value="Endorse"/></p>
</form>
<br>
          
{% endblock %}

<!-- endorse will POST endorsement_text and/or picture_url data to the Advocate database  -->

