[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sql-alchemy = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-sql-alchemy = "*"
itsdangerous = "*"
flask-debug-toolbar = "*"
os = "*"
redirect = "*"

[scripts]

API_KEY = "key-e3a99588efbb2f805d2b3a4ab7452703"

[requires]
python_version = "3.6"
