{% extends "base.html" %}
{% block content %}


<form action="/register" method="post">
  <p class="input"><label>First Name <input type="text" name="first_name"/></label></p>
  <p class="input"><label>Last Name <input type="text" name="last_name"/></label></p>
  <!-- <p><label>Male <input type="checkbox" name="male"/></label></p>
  <p><label>Female <input type="checkbox" name="female"/></label></p> -->
  <p class="input"><label>Age <input type="number" name="age"/></label></p>
  <p class="input"><label>Email <input type="email" name="email"/></label></p>
  <p class="input"><label>New Password <input type="password" name="password"/></label></p>
  <p class="input"><label>Verify Password <input type="password" name="verify"/></label></p>
  <p><input class = "registerbutton" type="submit" value="Register"/></p>
</form>

{% endblock %}







<!-- the USER register will POST first name, last name, email, password to the USER database

the Advocate Register will POST email and password to the Advocate database

-->