
    
    /* standard body features app-wide */
    
    body {
        /* margin: 0; */
        font-family: inherit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: transparent;
        /* background-image: inherit; */
      
      }
    
    
    /* home page styling */
    
    body.home {
        margin: 0;
        font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        /* background-color: #fff; */
        background-image: url("https://i.ibb.co/mbwRCBJ/pexels-photo-697243.jpg");
        background-position: top;
          }
      
      
      /* Profile page body styling */
      
      body.profile {
        /* margin: auto; */
        font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        /* color: #212529; */
        /* text-align: left; */
        background-color:rgba(255, 255, 255, 0.3);
        background-image: url("https://i.postimg.cc/gkqMRbBh/supportgroup.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
  
      @media (min-width: 200px) {
        body.profile {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position:cover;
        background-repeat: no-repeat;
        height:100%;
        width: 100%;
      
        }
      }
  
  
      /* @media (min-width: 667px) {
        body.profile {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            height: 375px;
            width: 667px;
            background-position:cover;
      
        }
      } */
      @media (min-width: 768px) {
        body.profile {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        width: auto;
        background-position:cover;
  
        }
      }
  
      @media (min-width: 800px) {
        body.profile {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        width: auto;
        background-position:cover;
  
        }
      }
  
      @media (min-width: 1000px) {
        body.profile {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        width: auto;
        background-position:cover;
  
        }
      }
  
      @media (min-width: 1024px) {
        body.profile {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        width: auto;
        background-position:cover;
  
        }
      }
  
      @media (min-width: 1280px) {
        body.profile {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-width: 1280px;
        height: auto;
        width: auto;
        background-position:cover;
        }
      }
      @media (min-width: 1599px) {
        body.profile {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        width: auto;
        background-position:cover;
    
        }
      }
  


/* Register page body styling */

      body.register {
        margin: 0;
        font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        /* background-color: #fff; */
        background-image: url("https://i.ibb.co/zG7TjbX/backcloud.png");
        background-size: auto;
        background-position: bottom; 
      }


      /* Request and Invite template styling */
      
      body.request {
        margin: 0;
        font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color:inherit;
        background-image: url("https://i.ibb.co/1Q7bBXt/bench-chair-dock-288583.jpg");
        background-size: auto;
        background-position: top;
       
      }