html {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #232526,#414345 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #232526,#414345 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: Simplifica;
}

.homehtml {
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #000000,#434343);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #000000,#434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px; 
    box-shadow: 0 4px 8px 0 #232526;
    max-width: 400px;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: Simplifica;
    letter-spacing: 7px;
}

.title {
    text-align: center;
    /* color: #636363; */
    font-size: 150px;
    letter-spacing: 15px;
    word-spacing: 25px;
    background: linear-gradient(to right, #172a22 30%, #103d2a 60%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px #000000;
    
}

button.contact {
    border: #232526;
    box-shadow: 0px 0px 1px 1px #232526;
    display: inline-block;
    padding: 8px;
    text-align: center;
    background-color:transparent;
    cursor: pointer;
    width: 100%;
    font-size: 50px;
    font-family: Capsuula;
    color:#103D2A;

    
}

button.contact:hover, a:hover {
    color:chartreuse;
    background:transparent;

    
}

button.icon-bar {
    width: 100px; /* Set a specific width */
    vertical-align: center;
    /* position: sticky;
    float:left; */
    padding: 10px 10px 10px 10px;
    border: 0;
    border-color:#232526;  /* fallback for old browsers */
   background: transparent;

    
}

button.icon-bar:hover, a:hover {
    color:#103D2A;
    background:transparent;
   
}


button.homepage {
    border:0;
    position:relative;
    left: 500px;
    top: -100px;
    display: inline-block;
    padding: 8px;
    text-align: center;
    background-color:transparent;
    cursor: pointer;
    width: auto;
    text-shadow: 1px 1px 1px #000000;

    
}

button.homepage:hover, a:hover {
    color:#103D2A;
    background:transparent;
     
}

svg {
    fill:#103D2A, 1px 1px 1px #000000;
    text-shadow: 1px 1px 1px #000000;
}
svg :hover {
    transition: all 0.25s ease; /*Add transition for hover effects */
    fill:chartreuse;
}

p {
    text-align: center;
    color: white;
    text-emphasis: bold;
    font-size: 30px;

}

.card2 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px; 
    box-shadow: 4px 4px 4px 4px #232526;
    max-width: 50%;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    font-size: 20px;
    font-family: Simplifica;
    letter-spacing: 7px;
    background-color:#211D1C;
    
}

.card2 p {
    color:#582A18;
    text-align: justify;
}

.card2 p.quote {
    color:#636363;
    font-size: 25px;
    font-family:Raleway;
    text-align: center;
}




/* body {margin:0} */

.icon-bar {
    width: 100px; /* Set a specific width */
    vertical-align: auto;
    position: relative;
    float:left;
    display: block;
    padding: 20px 10px 10px 5px;
    border: 0;
    border-color:#232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* text-align: center; */
}


.hometitle {
    text-align: center;
    /* color: #636363; */
    font-size: 300px;
    letter-spacing: 15px;
    word-spacing: 25px;
    background: linear-gradient(to right, #172a22 30%, #103d2a 60%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px #000000;
}

