html {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: Simplifica;
}

.ribbon {
    background-image: "1973481_598049722650_2130865745_o.jpg";
    position:relative;
    display: block;
}



img.logo {
    text-align: center;
}

.card {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px; 
    box-shadow: 0 4px 8px 0 #232526;
    max-width: 400px;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: Simplifica;
    letter-spacing: 7px;
    

}

.title {
    text-align: center;
    /* color: #636363; */
    font-size: 150px;
    letter-spacing: 15px;
    word-spacing: 25px;
    background: linear-gradient(to right, #172a22 30%, #103d2a 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    
}

.contact {
    border: #232526;
    box-shadow: 0px 0px 1px 1px #232526;
    display: inline-block;
    padding: 8px;
    text-align: center;
    background-color: #131715;
    cursor: pointer;
    width: 100%;
    font-size: 50px;
    font-family: Capsuula;
    color:#103D2A;
    
}

button.contact:hover, a:hover {
    opacity: 0.05;
}

button {
    border: #232526;
    
    box-shadow: 1px 1px 1px 1px #232526;
    padding: 5px; 
    background-color: transparent;
    cursor: pointer;
    width: 100%;

    /* font-size: 50px; */
    
}
button:hover {
 border-color:white;
 border-style:solid;
 visibility: visible;
 
}
button a:hover {
 
}

button:active {
    color:red;
}

/* a {
    
    font-size: 20px;
    color: blue;
    text-decoration: underline;
    text-align: center;
    margin: auto;
    
} */



/* div.navs {
    font-size: 18px;
    color: blue;
    text-align: center;
   

}  */

p {
    text-align: center;
    color: white;
    text-emphasis: bold;
    font-size: 30px;

}

.card2 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px; 
    box-shadow: 4px 4px 4px 4px #232526;
    max-width: 50%;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    font-size: 20px;
    font-family: Simplifica;
    letter-spacing: 7px;
    background-color:#211D1C;
}

.card2 p {
    color:#582A18;
    text-align: justify;
}

.card2 p.quote {
    color:#636363;
    font-size: 25px;
    font-family:Raleway;
    text-align: center;
}

.img2 {
    text-align:center;
  

    
}


.icon-bar {
    width: 100px; /* Set a specific width */
    /* vertical-align: center; */
    float:left;
    padding: 0px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.icon-bar a {
    display: block;
    color: #636363;
    padding: 30px 30px 30px 30px; 
    transition: all 0.3s ease; /*Add transition for hover effects */
    /* opacity: .8;
    background-color: white; /* White text color */
    /* font-size: 36px; Increased font-size */
    visibility: hidden;
}

.icon-bar a:hover {
    /* background-color:white; */
    color: #636363;  /* Add a hover color */
    visibility: visible;
    
    

}

.icon-bar a:active {
    /* background-color:white; */
    color: red;  /* Add an active/current color */
   
}

