<!DOCTYPE html>
<html>
<body>
{% extends "base.html" %}

{% block content %}

{% for user in users %}
<h2>Endorse {{user.first_name}} {{user.last_name}}
{% endfor %}

{% for advocate in advocates%}
<form action="/endorse/{{concealed_advocate_id}}" method="post">
  <p>Provide your endorsement here:</p>
  <input type="text" class ="submitendorsement" name="endorsement_text"/>
  <p>Provide image url:</p>
  <p><a href="https://postimages.org/web">free image url hosting @ post images</a></p>
  <input type="text" class ="submitendorsement" name="picture_url">
  <p><input type="submit" value="Endorse"/></p>
</form>
<br>

{% endfor %}
          
{% endblock %}

<!-- endorse will POST endorsement_text and/or picture_url data to the Advocate database  -->

