<!DOCTYPE html>
<html>
   <head>
      <title>Encourage</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/static/css/bootstrap.css">
      <nav class="navbar">
         <ul class="navbar-nav">
            <li class="nav-item">
               <form action="/logout" method="POST"><button class="btn-link added-by-chuck" type="submit">Home</button></form>
            </li>
         </ul>
      </nav>
   </head>
   <body class="request">
      {% block content %}
      {% for advocate in advocates %}
      {% for user in user %}
      {% endfor %}
      {% endfor %}
      <div class="container-fluid justify-content-center">
      <div class="d-flex jumbotron">
      <div class="clearfix">
      <img style="float:left" class="pull-left img-thumbnail" src="{{advocate.picture_url}}">
      <div class="text-center">
         <h3>You've successfully endorsed {{user.first_name}} {{user.last_name}}</h3>
         <br>
         <h5>{{advocate.email}} suggested this profile photo and description of me:</h5>
         <br>
         <h3 style="color:red">{{advocate.endorsement_text}}</h3>
      </div>
      </div>
      </div>
      </div>
      {% endblock %}
   </body>
</html>
<!-- endorse will GET email and endorsement_text from Advocate database and display in a message "Advo_email endorsed you"-->

