<!doctype html>
<html>
   <head>
      <title>Encourage</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/static/css/bootstrap.css">
   </head>
   <body class="home">
      <div class="container-fluid">
         <!-- Control the column width, and how they should appear on different devices -->
         <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
               <h1 class="display-1 text-center" style="color:red">Encourage</h1>
               <h3 class="text-center">Privacy + Positivity = Encourage</h3>
               <h3 class="text-center">The social media app built by your social circle.</h3>
               <br>
               <div class="text-center">
                  <a href="/register" class="btn added-by-alex btn-outline-dark btn-lg" role="button" value="Submit">Register</a>
                  <br>
                  <br>
                  <a href="/login" class="btn added-by-alex btn-outline-dark btn-lg"  role="button" value="Submit">Login</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-4"></div>
   </body>
</html>

