<!doctype html>
<html>
   <head>
      <title>Encourage</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/static/css/bootstrap.css">
   </head>
   <body>
   </body>
   <div class="container-fluid">
      <!-- Control the column width, and how they should appear on different devices -->
      <div class="row">
         <div class="col"></div>
         <div class="col-6">
           <h1 class="display-1" style="color:red">Encourage</h1>
      <br>
      <a href="/register" class="btn btn-outline-dark btn-lg btn-block" role="button" value="Submit">Register</a>
      <br>
      <h5> Returning users login below</h5>
      <a href="/login" class="btn btn-outline-dark btn-lg btn-block" role="button" value="Submit">Login</a>
      
         </div>
         <div class="col"></div>
      </div>
   </div>
</html>

