<!doctype html>
<html class="custom">
   <body class="profile">
{% extends "base.html" %} <!-- block content and end block are jinja placeholders set by base.html that are necessary for any instance of jinja placeholders elsewhere in template; ex: for loops calling values from the database -->
{% block content %}
<div class="container-custom justify-content-center">
<div class="col-md-*">
   <h2 class="wrap text-center">Profiles start out empty.  Request Encouragement to start building your profile.</h2>
   <div class="card-custom">
      <div class="row no-gutters">
         <div class="col-md-4">
           
            {% for advocate in advocates %}
            <img class="card-img-custom" src="{{ advocate.picture_url|default('https://i.postimg.cc/ZRb7W7dy/untitled.jpg') }}"/>
            
               
              
            {% else %}
            <img class= "card-img-custom" src="https://i.postimg.cc/ZRb7W7dy/untitled.jpg" class="card-img-custom"/>
            
            {% endfor %}
           
            
         </div>
         <div class="card-body-custom"></div>
         <div class="col1-md-8, col-lg-4">
            
               {% for user in user %}
               <h4 class="fit">{{user.first_name}} {{user.last_name}}, {{user.age}}</h4>
               {% endfor %}
               <!-- <h3 class="fit">{{user.email}}</h3> -->
               {% for advocate in advocates %} <!-- jinja templating for loop -->
               <h3 class="fit">{{advocate.email}} suggested this photo and description of me:</h3>
               
               <h4 class="endorsement_text fit" style="color:red">{{advocate.endorsement_text}}</h4>
               <a href="mailto:{{user.email}}" type="button" class="btn btn-outline-dark btn-lg contact">Contact</a>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
   {% endblock %}
</div>

<!-- <div id="push"></div> -->
   </body>
</html>