<!DOCTYPE html>
<html class="custom">
   <body class="request">
      {% extends "base.html" %}
      {% block content %}
      <!-- Control the column width, and how they should appear on different devices -->
       <div class="d-flex container-fluid justify-content-center">
         <!-- Control the column width, and how they should appear on different devices -->
         <div class="flex-md-row">
            <div class="d-flex col-md-*"></div>
            <div class="d-flex justify-content-center flex-column col-md-*">
               <h1 class="fit text-center" style="color:red">Encourage</h1>
               <h4 class="fit text-center">Request encouragement from a fan to start building your profile:</h4>
               <form action="/request_endorsement" method="post">
                  <div class="form-group">
                     <label for="email">Email:</label>
                     <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <div class="text-center">
                     <button type="submit" class="btn login-added-by-alex btn-outline-dark btn-lg">Request Encouragement</button>
                  </div>
               </form>
            </div>
            <div class="d-flex col-md-*"></div>
         </div>
      </div>
      {% endblock %}
   </body>
</html>

