<!DOCTYPE html>
<html>
   <body class="request">
      {% extends "base.html" %}
      {% block content %}
      <!-- Control the column width, and how they should appear on different devices -->
      <div class="container-fluid">
         <!-- Control the column width, and how they should appear on different devices -->
         <div class="row">
            <div class="col"></div>
            <div class="col-6">
               <h1 class="display-1 text-center" style="color:red">Encourage</h1>
               <h2 class="text-center">Request encouragement from a fan to start building your profile:</h2>
               <form action="/request_endorsement" method="post">
                  <div class="form-group">
                     <label for="email">Email:</label>
                     <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <div class="text-center">
                     <button type="submit" class="btn added-by-alex btn-outline-dark btn-lg">Request Encouragement</button>
                  </div>
               </form>
            </div>
            <div class="col"></div>
         </div>
      </div>
      {% endblock %}
   </body>
</html>
